/***************************
GENERAL
*****************************/


/***************************
COLOR
*****************************/

h1{
    background-color: #999999;
}

/***************************
HEAD
*****************************/

h1 {
    text-align: center;
    padding: 40px;
    border-radius: 20px;
}
