/***************************
GENERAL
*****************************/


/***************************
COLOR
*****************************/



html {
    background-color: #95cbe9;  
}
#login_div{
    background: #fff;
}

/***************************
HEADER
*****************************/
#logged_in_header {
    background-color: #efd279;
    margin: 10px 5px 20px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

/***************************
BODY
*****************************/

.dashboard{
    text-align: center;
    display: none;
}
.complaints {
    display: none;
}


h1,h2,h3 {
    text-align: center;
}
#complaint-list div {
    text-align: center;
    font-weight: bold;
    margin: 1% 10%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#complaint-list div p{
    word-wrap: break-word;
    padding: 5px;
    font-style: normal;
}
#dateTime{
    text-align: left;
}
#location {
    font-size: .75em;
}
#nav_links li {
    display: inline;

}
ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
li {
    margin: 10px;
}
#nav_links li:hover {
    font-weight: bold;
}
#login_div {
    text-align: center;
    margin: 5% 35% 5% 35%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p{
    margin: 0;
}
input {
    max-width: 100%;    
}
button{
    max-width: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
}
#wrapper {
    min-height: 100%;
    position: relative;
}
.header{
    padding: 10px;
}
.logged_out_class,.logged_in_class {
    padding-bottom: 50px;
}

#complaint-list div button {
    background-color: #fff;
    border: none;
    display: inline-block;
    padding: 2px;
}
#complaint-list div button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

/***************************
FOOTER
*****************************/

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
    font-size: 1em;
    text-align: center;
    left: 0;
}
#copyright{
    font-size: 0.75em;
}